.header-content {
    display: flex;
    align-items: center;
}
.title {
    margin: 0; /* Menghilangkan margin default */
    flex-grow: 1; /* Membuat judul menempati sisa ruang yang tersisa */
    text-align: center; /* Memusatkan teks judul secara horizontal */
}

h1 {
    margin-left: 10px; /* Menambahkan margin bawah agar tidak terlalu rapat dengan formulir */
    text-align: center; /* Mengatur teks ke tengah */
}

.login-options {
    display: flex;
    gap: 10px;
}

.login-form,
.signup-form {
    display: none; /* Menyembunyikan kedua formulir secara default */
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form button {
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

/* Resetting default margin and padding */
body, h1, h2, p, a, header, main, section, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting font family and size */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f8f9fa;
}

/* Styling header */
header {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 28px;
}

/* Styling main */
main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Styling section */
section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    max-width: 300px;
    text-align: center;
}

h2 {
    color: #343a40;
    margin-bottom: 10px;
}

p {
    color: #6c757d;
    margin-bottom: 15px;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

/* Styling footer */
footer {
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.logo {
    width: 150px; /* Sesuaikan ukuran logo sesuai kebutuhan */
    height: auto;
    margin-right: auto; /* Jarak antara logo dan judul */
}